body {
    --form-accent: #397bfe;
    --error: #ef2121; 
}

body, html {
    height: 100%;
}

body {
    display: flex;
    background-color: #111;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #212427;
}

main {
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2em;
    width: 400px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    main {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

b {
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    transition: 0.2s border;
    font-size: 11pt;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid var(--form-accent);
}

form.error input[type="text"],
form.error input[type="password"] {
    border: 1px solid var(--error);
}

button[type="submit"] {
    width: 100%;
    margin-top: 1em;
    border: none;
    background: #246dff;
    color: #ffffff;
    padding: 0.75em 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s background;
}

button[type="submit"]:hover {
    background: #2461db;
}

/* get rid of the blue background that Chrome applies to autocompleted forms */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

a,
a:visited {
    color: var(--form-accent);
    text-decoration: none;
    font-weight: 500;
}

/* when a field is selected, slide the form placeholder to the top of the element */
.field {
    position: relative;
    margin: 1.1em 0;
}

.field input + label {
    font-family: sans-serif;
    font-size: 11pt;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #999;
    padding: 1px 2px;
    transition: 0.2s;
}

.field input:focus + label,
.field input:valid + label {
    top: -10px;
    font-size: 10pt;
    transform: none;
}

.field input:focus + label {
    color: var(--form-accent);
}

form.error .field input:focus + label,
form.error .field input:valid + label {
    color: var(--error);
}

#error {
    display: none;
    font-size: 10pt;
    color: var(--error);
}

form.error #error {
    display: initial;
}

#logo {
    display: block;
    max-width: 4em;
    max-height: 4em;
    margin: auto;
    margin-bottom: 1.5em;
}