@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(/manage/fonts/password.ttf);
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 2em;
}

main {
    max-width: 50em;
    margin: auto;
}

h1, h2 {
    font-weight: 500;
}

.client {
    border-radius: 5px;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    position: relative;
    margin: 1em 0;
}

td {
    padding: 0.5em 0;
    padding-right: 1em;
}

input[type="text"], textarea {
    border: 1px solid #ccc;
    padding: 0.5em;
    width: 100%;
    border-radius: 3px;
    outline: none;
    transition: 0.2s border;
    font-size: 11pt;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    margin-bottom: 1em;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

button.round {
    background: #2a5dde;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em 1em;
}

button[type="submit"] {
    display: block;
    margin-left: auto;
}

#add {
    margin: 1em 0;
}

button {
    cursor: pointer;
}

.client-secret {
    font-family: 'password' !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    width: 40%;
    font-weight: 500;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #eee;
}

td {
    vertical-align: top;
}

.actions button.round {
    display: block;
    margin-bottom: 0.5em;
    width: 9em;
    background-color: #f01f1f;
}

dialog {
    width: 20em;
}

.close-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    border: none;
    background: none;
    font-size: 24pt;
    z-index: 1;
}

.callbacks li {
    padding: 0.5em 0;
}

.callbacks button.delete {
    border: none;
    background: none;
    padding: 0;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: bold;
    color: #ff0000;
}

.callbacks li:hover button {
    display: initial;
}

.new-callback {
    display: flex;
    flex-direction: row;
}

.new-callback input {
    margin-bottom: 0;
}

.new-callback button {
    margin-left: 0.5em;
    width: 6em;
}